/corefs-builder/output
/corefs-builder/dl
/corefs-builder/.auto.deps
/corefs-builder/.config.cmd
/corefs-builder/.config.old
/corefs-builder/..config.tmp
/corefs-builder/.config
*.depend
*.o
/corefs-builder/*.patch
/corefs-builder/*.diff
*.orig
*.rej
*~
*.pyc
/images
/shitdump
