buildstaq/output
buildstaq/dl
buildstaq/.auto.deps
buildstaq/.config.cmd
buildstaq/.config.old
buildstaq/..config.tmp
buildstaq/.config
buildstaq/*.depend
buildstaq/*.o
buildstaq/*.patch
buildstaq/*.diff
buildstaq/*.orig
buildstaq/*.rej
buildstaq/*~
buildstaq/*.pyc
output/*
toolchains/*
shitdump
