# BUILD
BR2_CCACHE=y
BR2_CCACHE_DIR="$(HOME)/.cache/corestaq-ccache/$(ARCH)"
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_MTOOLS=y
BR2_ROOTFS_POST_BUILD_SCRIPT="template/post-build.sh"
BR2_ROOTFS_POST_FAKEROOT_SCRIPT="template/fakeroot.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="template/post-image.sh"
BR2_GCC_VERSION_8_X=y
BR2_OPTIMIZE_S=y
#BR2_OPTIMIZE_2=y
#BR2_OPTIMIZE_3=y
BR2_ROOTFS_MERGED_USR=y
BR2_TARGET_ROOTFS_TAR=y
BR2_TARGET_ROOTFS_TAR_GZIP=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="64M"
BR2_TARGET_ROOTFS_EXT2_LABEL="corestaq"
BR2_TARGET_ROOTFS_EXT2_RESBLKS=0
BR2_TARGET_ROOTFS_EXT2_MKFS_OPTIONS=" "
BR2_TARGET_ROOTFS_SQUASHFS=y
BR2_TARGET_ROOTFS_SQUASHFS4_GZIP=y
BR2_TARGET_ROOTFS_CLOOP=y
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y

# PLATFORM
CSQ_PLATFORM="aarch64-generic"
BR2_aarch64=y
BR2_cortex_a53=y
BR2_TARGET_GENERIC_GETTY_PORT="ttyAMA0"

# DEVICE
CSQ_DEVICE="corestaq-emu-aarch64"
CSQ_PLATFORM="aarch64-generic"

#TOOLCHAIN
# host built
BR2_TOOLCHAIN_BUILDROOT=y
BR2_TOOLCHAIN_BUILDROOT_VENDOR="corestaq"
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y


# CoreStaq BASE
#
BR2_PACKAGE_BUSYBOX_INDIVIDUAL_BINARIES=y
BR2_PACKAGE_BUSYBOX_CONFIG="template/corestaq-busybox.conf"
BR2_PACKAGE_BUSYBOX_WATCHDOG=y
BR2_PACKAGE_BUSYBOX_WATCHDOG_PERIOD="10"
BR2_SYSTEM_DHCP="eth0"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_PACKAGE_SUDO=y
BR2_PACKAGE_ETHTOOL=y
BR2_PACKAGE_DIALOG=y
BR2_PACKAGE_STUNNEL=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_DROPBEAR_SMALL=n
BR2_PACKAGE_DROPBEAR_CLIENT=y
BR2_PACKAGE_DROPBEAR_DISABLE_REVERSEDNS=y

# PLATFORM KERNEL
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.19.57"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="template/linux.config"
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_19=y
BR2_KERNEL_HEADERS_4_19=y

# MYDEVICE
BR2_TARGET_GENERIC_HOSTNAME="corestaq"
BR2_TARGET_GENERIC_ROOT_PASSWD="1234"
BR2_TARGET_GENERIC_ISSUE="Welcome to OpenCoreStaq"
BR2_ENABLE_LOCALE_WHITELIST="C en_GB.UTF8 en_US"
